 {% extends "base.html" %} 
        {% block main%}
        <main>
       
          <section id="hero">
            <div id="hero-main">
              <article >
              
             <aside>
             
                <p style="font-weight: bold;font-size: 2.63rem; text-transform: uppercase;line-height: 2.1;color: #8b09d6c0;letter-spacing: 1.9px">welcome</p>
              <ul>
                <li> build ai + web solutions</li>
                <li> automation of ai</li>
                <li>design of website</li>
              </ul>
                  <dl  style="display: fex;border-radius: 7.5px;padding: 4px;  font-size: 1.2em;    color: teal;line-height: 1.5">
               <dt style="display: block;width: 100%;text-transform: capitalize;font-family: cambria;white-space: nowrap"> provides - </dt>
               <ul id="hero-card">
                <li>ai automation </li> <li> web solution </li> <li>consultion on  web branch</li>
                <li> technology web</li>
                </ul>
              </dl>              </aside>
              
                <article style="max-width: 490px ;float: left;margin: 25px;padding: 12px 7.5px;text-align: left;border-bottom: 2px solid seagreen">
                  <h2 style="font-size: 1.3rem;text-align:center;text-transform: capitalize;text-shadow: margin-bottom: 5px ;color: #8b09d6">automate and build web</h2>
                  
          <button style="scale:0.9;font-size: 1.25em;font-family: cambria;display: block;min-width: 150px;margin: 10px;box-shadow: 0px 4px 9px grey;margin-top: 36px;margin: 15px auto;background-color: hwb(147 24% 10%);text-transform: capitalize"> contact now</button>
                     
                  </article>
                  
          </article>
        </div>
            <div id="hero-aside">
        <figure>
<img src="Img/file_00000000b44461f499f9b64d9063867b.png" alt="" />
        </figure>
          <h4 style="color: aliceblue;border-bottom: 1px solid grey;z-index: 1"> mr. Macro</h4><br>
       
         
            </div>
          
            </section>
              
          
    <!--    <h4>landingpage</h4>-->
    <section id="service">
      <br>
      <br>
      <h4 style="font-weight: bold;font-size: 1.6rem; text-transform: uppercase;line-height: 2.1;color: #8b09d6c0">service offered - <i></i></h4>
      <br>
      <br>
      <div>
       
             <article class="service-p">
  
            <h5>
              web dev - design , analytics
            </h5>
            <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sit animi itaque deleniti dolorem autem quas voluptatibus vel debitis, odio cum!</p>
          <dl style="min-width: 90%;font-family: cambria">
            <dt > works </dt>
              <dd><a href="" style="flex: 2;text-align:center;display: block;min-width: 90%;padding: 10px 7.5px;border-radius: 4px;text-transform: capitalize">check out </a></dd>
            
        </article>       
       
      </div>

    </section>
    <br><br >
      <h4 style="padding-left: 40px;text-align: left;font-weight: bold;font-size: 1.6rem; text-transform: uppercase;line-height: 2.1;color: #8b09d6c0">about me  <span style="background: hwb(147 24% 10%);color: white;padding: 10px 7px;display: inline-block;font-size: 0.7em;scale: 0.7;border-radius: 7px">mr_macro </span><i></i></h4>
            <section id="about" style="gap: 50px;display: flex;justify-content: space-around;padding: 0px;row-gap: 15px">
                <div>
                  
                </div>
                <aside class="Pquote">
                  <h5 style="font-size: 1.6rem;line-height: 2.7;font-weight: bold;text-transform: uppercase;font-family: caladea"> <span style="color: hwb(147 24% 10%);font-weight:bold;">hello</span> i build smart digital solution and test the future of tech </h5>
                  <article class="" style="text-align:center;font-size: 1rem;font-family: cambria ; line-height:  2.4;max-width: 460px">
                    i am a passionate <span style="text-transform: capitalize;padding: 6px 9px;border-radius: 3px;background-color: hwb(147 24% 10%);line-height: 2.8;color: white;font-weight: bold"> website developer </span> , <span
                        style="text-transform: capitalize;padding: 6px 9px;border-radius: 3px;background-color: hwb(147 24% 10%);line-height: 2.8;color: white;font-weight: bold;white-space: nowrap"> ai automator creator </span>  and dedidcated <span
                          style="text-transform: capitalize;padding: 6px 9px;border-radius: 3px;background-color: hwb(147 24% 10%);line-height: 2.8;color: white;font-weight: bold"> ai tester </span><br>
                    loves technology and how it solves modern hard problems , my goal is to navigate the amake digital space fatser, useful and smart and also combine with clean design with powerful automation to save time and grow your work.<br><br>
                  </article>

        
                  
                </aside>
              
            </section>
            <br>
            <br>
            <br>
            <h4
              style="padding-left: 40px;text-align: left;font-weight: bold;font-size: 1.6rem; text-transform: uppercase;line-height: 2.1;color: #8b09d6c0">
              my project<i></i></h4>
            <section style="padding: 12px ;justify-content: space-around;display: flex;overflow-x: scroll;boder: solid;gap: 20px;">
              <div class="project">
                <aside class="project_img">
                  <img src="Screenshot (2).png" alt="project-img1"/>
                  <img src="Screenshot (3).png" alt="project-img2"/>
                  <img src="Screenshot (4).png" alt="project-img3"/>

                </aside>
                <div class="project_dd">
                  <h5> live project
                  </h5>
                
        <p class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </p>
                  <article>
     Lorem ipsum dolor sit amet consectetur, adipisicing elit. Rem autem nisi soluta.
    </article>
                  <aside><button type="button">check out</button></aside>
                </div>
              </div>
            
            </section>
<section>
  <h4 style="font-weight: bold;font-size: 1.6rem; text-transform: uppercase;line-height: 2.1;color: #8b09d6c0">skills <i></i></h4>
  <div class="skill">
    <aside>
      <h6><span class="no"> 1</span><p style="border-radius: 4.5px;padding: 6px 19px;font-size: 1rem;text-shadow: 0px 0px 8px grey;color: white;flex-grow: 1;border-botom: 1px solid purple;font-weight: bold;text-align: center">html</p><i class="fab fa-html5" style="color: rgb(38, 38, 189)"></i></h6>
      <article>

      
        <p class="rating">
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
          <i class="fas fa-star"></i>
        </p>
        <mark >
certificate
        </mark>
        <p class="certificate"> <a href="">now</a>
        <a href="">now</a></p>
        <mark > level</mark>
        <p class="level">mastery - level</p>
      </article>

    </aside>

    <aside>
      <h6><span class="no"> 1</span>
        <p
          style="border-radius: 4.5px;padding: 6px 19px;font-size: 1rem;text-shadow: 0px 0px 8px grey;color: white;flex-grow: 1;border-botom: 1px solid purple;font-weight: bold;text-align: center">
          css</p><i class="fab fa-css3" style="color: rgb(33, 33, 196)"></i>
      </h6>
      <article>
    
    
        <p class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
        </p>
        <mark>
          certificate
        </mark>
        <p class="certificate"> <a href="">now</a>
          <a href="">now</a>
        </p>
        <mark> level</mark>
        <p class="level">mastery - level</p>
      </article>
    
    </aside>

    <aside>
      <h6><span class="no"> 1</span>
        <p
          style="border-radius: 4.5px;padding: 6px 19px;font-size: 1rem;text-shadow: 0px 0px 8px grey;color: white;flex-grow: 1;border-botom: 1px solid purple;font-weight: bold;text-align: center">
         python</p><i class="fab fa-python" style="color: royalblue"></i>
      </h6>
      <article>
    
    
        <p class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star-half"></i>
        </p>
        <mark>
          certificate
        </mark>
        <p class="certificate"> <a href="">now</a>
          <a href="">now</a>
        </p>
        <mark> level</mark>
        <p class="level">mastery - level</p>
      </article>
    
    </aside>

    <aside>
      <h6><span class="no"> 1</span><p style="border-radius: 4.5px;padding: 6px 19px;font-size: 1rem;text-shadow: 0px 0px 8px grey;color: white;flex-grow: 1;border-botom: 1px solid purple;font-weight: bold;text-align: center">javascript</p><i class="fab fa-js" style="color: yellow"></i></h6>
      <article>

      
        <p class="rating">
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
                  <i class="fas fa-star"></i>
        </p>
        <mark >
certificate
        </mark>
        <p class="certificate"> <a href="">now</a>
        <a href="">now</a></p>
        <mark > level</mark>
        <p class="level">mastery - level</p>
      </article>

    </aside>

    
  </div>
  
</section>
       
            </main>
            {% endblock%}
            
       
      
    </div>
  </section>  </body>
</html>